---
layout: default
---

<article class="home">

    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content intro">
        {{ content }}
    </div>

    <div class="post-content wide projects">
        <ul>
            {% for project in site.data.projects limit:5 %}
            <li class="{% if project.feature == true %}feature{% else %}nofeature{% endif %} {% if project.img != "" %}img{% endif %}">
                {% if project.url and project.url != "" %}<a href="{{ project.url }}">{% endif %}
                    {% if project.img and project.img != "" %}<img src="{{ "/assets/img/" | relative_url }}{{ project.img }}" alt="{{ project.name }}" />{% endif %}
                {% if project.url and project.url != "" %}</a>{% endif %}

                <h3>
                    {% if project.url and project.url != "" %}<a href="{{ project.url }}">{% endif %}{{ project.name }}{% if project.url %}</a>{% endif %}
                    {% if project.publisher and project.publisher != "" %} <span class="publisher">&mdash; {{ project.publisher }}</span>{% endif %}
                </h3>
            </li>
            {% endfor %}
        </ul>
    </div>

</article>
